#parse("/velocity/layout.vm")
#@mainLayout()
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#userAdmin"><b>$msg.get("USER_ADMIN_TAB_HEADING")</b></a></li>
    <li><a data-toggle="tab" href="#articleAdmin"><b>$msg.get("ADMIN_TAB_HEADING")</b></a></li>
</ul>
<div class="tab-content">
    <div id="userAdmin" class="tab-pane fade in active">
    </div> <!-- end of tab userAdmin -->

    <div id="articleAdmin" class="tab-pane fade">
        <div class="tab-content">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#createArticle"><b>$msg.get("ADMIN_TAB_CREATE_ARTICLE")</b></a></li>
                <li><a data-toggle="tab" href="#editArticle"><b>$msg.get("ADMIN_TAB_EDITE_ARTICLE")</b></a></li>
            </ul>
            <div id="createArticle" class="tab-pane fade in active">
		        <!-- Main component for a primary marketing message or call to action -->
                <div class="account-wall">
                    <form id="articleForm" action="$WebPath.getSAVE_ARTICLE()" method="post" class="">
                        <div class="form-group row">
                            <label for="article_type1" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TYPE")</label>
                            <div class="col-sm-4">
                                <input readonly="readonly" type="text" id="article_type1" name="article_type" value="$!article.getArticle_type()" placeholder="$msg.get("ARTICLE_LABEL_TYPE")" class="form-control">
                            </div>
                            <label for="create_dttm" class="col-sm-3 form-control-label">$msg.get("ARTICLE_LABEL_CREATE_DTTM")</label>
                            <div class="col-sm-3">
                                <input readonly="readonly" type="text" id="create_dttm" name="create_dttm" value="$!article.getCreated_dttm_string()" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="article_title1" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TITLE")</label>
                            <div class="col-sm-4">
                                <input type="text" id="article_title1" name="article_title" value="$!article.getArticle_title()" placeholder="$msg.get("ARTICLE_LABEL_TITLE")" required autofocus class="form-control">
                            </div>
                            <label for="update_dttm" class="col-sm-3 form-control-label">$msg.get("ARTICLE_LABEL_UPDATE_DTTM")</label>
                            <div class="col-sm-3">
                                <input readonly="readonly" type="text" id="update_dttm" name="update_dttm" value="$!article.getUpdated_dttm_string()" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="publish_article1" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_PUBLISH")</label>
                            <div class="col-sm-1">
                                <input type="text" id="publish_article1" name="publish_article" value="$!article.getPublish_article()" placeholder="$msg.get("ARTICLE_LABEL_PUBLISH")" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="article_description1" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_DESCRIPTION")</label>
                            <div class="col-sm-12">
                                <input type="text" id="article_description1" name="article_description" value="$!article.getArticle_description()" placeholder="$msg.get("ARTICLE_LABEL_DESCRIPTION")" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="article_text1" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TEXT")</label>
                            <div class="col-sm-12">
                            <textarea id="article_text" name="article_text1" rows="30" cols="100" placeholder="Write new article here..." class="form-control">$!article.getArticle()</textarea>
                            <script type="text/javascript" charset="utf-8">
                                CKEDITOR.replace( "article_text1" );
                            </script>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <input type="submit" value="$msg.get("ARTICLE_FORM_BUTTON_SAVE")" class="btn btn-lg btn-primary btn-block">
                            </div>
                            <div class="col-sm-3">
                                <button type="reset" class="btn btn-link">$msg.get("ARTICLE_FORM_BUTTON_RESET")</button>
                            </div>
                        </div>
                    </form>
                </div>
	        </div> <!-- end of tab createArticle -->
            <div id="editArticle" class="tab-pane fade in active">
	            <table id="articleTable" class="display table table-striped table-bordered nowrap" width="100%">
			        <thead style="background: #F0FAFF;">
			            <tr> <!-- ARTICLE_ID, USER_ID, ARTICLE_TYPE, ARTICLE_TITLE, ARTICLE_DESCRIPTION, CREATE_DTTM, UPDATE_DTTM -->
			                 <th>Article ID</th>
			                 <th>User ID</th>
                             <th>Type</th>
                             <th>Title</th>
                             <th>Description</th>
                             <th>Created Date</th>
                             <th>Updated Date</th>
	                    </tr>
			        </thead>
			    </table>
                <form id="articleForm" action="$WebPath.getSAVE_ARTICLE()" method="post" class="">
                    <input type="hidden" id="article_id2" name="article_id" value="$!article.getArticle_id()" class="form-control">
                    <div class="form-group row">
                        <label for="article_type2" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TYPE")</label>
                        <div class="col-sm-4">
                            <input readonly="readonly" type="text" id="article_type2" name="article_type" value="$!article.getArticle_type()" placeholder="$msg.get("ARTICLE_LABEL_TYPE")" class="form-control">
                        </div>
                        <label for="create_dttm2" class="col-sm-3 form-control-label">$msg.get("ARTICLE_LABEL_CREATE_DTTM")</label>
                        <div class="col-sm-3">
                            <input readonly="readonly" type="text" id="create_dttm2" value="$!article.getCreated_dttm_string()" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="article_title2" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TITLE")</label>
                        <div class="col-sm-4">
                            <input type="text" id="article_title2" name="article_title" value="$!article.getArticle_title()" placeholder="$msg.get("ARTICLE_LABEL_TITLE")" required autofocus class="form-control">
                        </div>
                        <label for="update_dttm2" class="col-sm-3 form-control-label">$msg.get("ARTICLE_LABEL_UPDATE_DTTM")</label>
                        <div class="col-sm-3">
                            <input readonly="readonly" type="text" id="update_dttm2" value="$!article.getUpdated_dttm_string()" class="form-control">
                        </div>
                    </div>
                        <div class="form-group row">
                            <label for="publish_article2" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_PUBLISH")</label>
                            <div class="col-sm-1">
                                <input type="text" id="publish_article2" name="publish_article" value="$!article.getPublish_article()" placeholder="$msg.get("ARTICLE_LABEL_PUBLISH")" required class="form-control">
                            </div>
                        </div>
                    <div class="form-group row">
                        <label for="article_description2" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_DESCRIPTION")</label>
                        <div class="col-sm-12">
                            <input type="text" id="article_description2" name="article_description" value="$!article.getArticle_description()" placeholder="$msg.get("ARTICLE_LABEL_DESCRIPTION")" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="article_text2" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TEXT")</label>
                        <div class="col-sm-12">
                        <textarea id="article_text2" name="article_text" rows="30" cols="100" placeholder="Write new article here..." class="form-control">$!article.getArticle()</textarea>
                        <script type="text/javascript" charset="utf-8">
                            CKEDITOR.replace( "article_text2" );
                        </script>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <input type="submit" value="$msg.get("ARTICLE_FORM_BUTTON_SAVE")" class="btn btn-lg btn-primary btn-block">
                        </div>
                        <div class="col-sm-3">
                            <button type="reset" class="btn btn-link">$msg.get("ARTICLE_FORM_BUTTON_RESET")</button>
                        </div>
                    </div>
                </form>
    	    </div>
        </div> <!-- end  tab-content -->
    </div> <!-- end of tab articleAdmin -->
</div> <!-- end  tab-content -->

<script type="text/javascript" charset="utf-8">
    // Wait until browser DOM is loaded
    $(document).ready(function() {
    	
        console.log("loading article table...");
        var articleTable = $('#articleTable').DataTable( {
            processing : true,
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            select: true,
            stateSave: false,
            ajax: {
                url: "$WebPath.getGET_ALL_ARTICLES()",
                dataSrc: null,
                type: "GET"
            },
            columns: [
                { data: "article_id" },
                { data: "user_id" },
                { data: "article_type" },
                { data: "article_title" },
                //{ data: "publish_article" },
                { data: "article_description" },
                { data: "create_dttm" },
                { data: "update_dttm" },
            ],
            dom: 'Bfrtip',
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
            buttons: [
                'pageLength',
                {
                    extend: 'colvis',
                    text: 'Show/Hide Columns'
                },
                {
                    extend: 'copy',
                    text: 'Copy Table'
                },
                {
                    extend: 'csvHtml5',
                    text: 'Export to CSV',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                }
            ]
        });

        articleTable.on( 'select', function ( e, dt, type, indexes ) {
            var data = dt.row(".selected").data();
            var articleId = data.article_id;
            var articleUrl = "/get_article/" + articleId;

            $.ajax({
              type: 'GET',
              url: articleUrl,
              beforeSend: function (xhr) {
                if (xhr && xhr.overrideMimeType) {
                  xhr.overrideMimeType('application/json;charset=utf-8');
                }
              },
              dataType: 'json',
              success: function (result) {                              
                //Set the JSON data to each of the fields on the interface form
                $("#article_id2").val( result.article_id );
                $("#article_type2").val( result.article_type );
                $("#article_title2").val( result.article_title );
                $("#publish_article2").val( result.publish_article );
                $("#article_description2").val( result.article_description );
                $("#article_text2").val( result.article_text );
                CKEDITOR.instances.article_text2.setData( result.article );
                $("#create_dttm2").val( result.create_dttm );
                $("#update_dttm2").val( result.update_dttm );
              }
            });
        });
        
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            //alert(target);
            if (target == "#editArticle") {
                //articleTable.ajax.url( "$WebPath.getGET_ALL_ARTICLES()" ).load();
                articleTable.ajax.reload();
            }
          });

    });
</script>
#end
                                