#parse("/velocity/layout.vm")
#@mainLayout()
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h2>Add Story</h2>
            <div class="panel panel-info">
                <div class="panel-heading">Add Story</div>
                <div class="panel-body">

                    <div class="account-wall">
                        <form id="articleForm" action="$WebPath.getSAVE_ARTICLE()" method="post" class="">
                            <div class="form-group row">
                                <label for="article_type" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TYPE")</label>
                                <div class="col-sm-4">
                                    <input readonly="readonly" type="text" id="article_type" name="article_type" value="$!article.getArticle_type()" placeholder="$msg.get("ARTICLE_LABEL_TYPE")" class="form-control">
                                </div>
                                <label for="create_dttm" class="col-sm-3 form-control-label">$msg.get("ARTICLE_LABEL_CREATE_DTTM")</label>
                                <div class="col-sm-3">
                                    <input readonly="readonly" type="text" id="create_dttm" name="create_dttm" value="$!article.getCreated_dttm_string()" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="article_title" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TITLE")</label>
                                <div class="col-sm-4">
                                    <input type="text" id="article_title" name="article_title" value="$!article.getArticle_title()" placeholder="$msg.get("ARTICLE_LABEL_TITLE")" required autofocus class="form-control">
                                </div>
                                <label for="update_dttm" class="col-sm-3 form-control-label">$msg.get("ARTICLE_LABEL_UPDATE_DTTM")</label>
                                <div class="col-sm-3">
                                    <input readonly="readonly" type="text" id="update_dttm" name="update_dttm" value="$!article.getUpdated_dttm_string()" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="article_description" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_DESCRIPTION")</label>
                                <div class="col-sm-12">
                                    <input type="text" id="article_description" name="article_description" value="$!article.getArticle_description()" placeholder="$msg.get("ARTICLE_LABEL_DESCRIPTION")" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="article_text" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_TEXT")</label>
                                <div class="col-sm-12">
                                    <input type="text" id="article_text" name="article_text" value="$!article.getArticle()" placeholder="$msg.get("ARTICLE_LABEL_TEXT")" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <input type="submit" value="$msg.get("ARTICLE_FORM_BUTTON_SAVE")" class="btn btn-lg btn-primary btn-block">
                                </div>
                                <div class="col-sm-3">
                                    <button type="reset" class="btn btn-link">$msg.get("ARTICLE_FORM_BUTTON_RESET")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- /jumbotron -->
#end
                                