#parse("/velocity/layout.vm")
#@mainLayout()
    <div class="jumbotron">
        #if ($article)
			<h2 class="post-title text-center">$!article.getArticle_title()</h2>
	        <p class="post-subtitle text-center">$!article.getCreated_dttm_string()</p>
	        <hr class="m-y-2">
	        <p>$!article.getArticle()</p>
        #end
    </div>
#end