#parse("/velocity/layout.vm")
#@mainLayout()
		<article>
			<div class="row">
				<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 ">
				#if ($article)
					<h2 class="text-center" style="word-wrap: break-word;">$!article.getArticle_title()</h2>
					<h4 class="subheading text-center">by</h4>
					<h4 class="subheading text-center">$!article.getFirst_name() $!article.getLast_name()</h4>
					<h4 class="meta text-center" style="word-wrap: break-word;">$!article.getCreated_dttm_string()</h4>
					<hr class="m-y-2">
					<p class="article">$!article.getArticle()</p>
				#end
				</div>
                <div class="col-lg-2 col-md-2">
                #if($articleList)
                    <ol>
			            #foreach( $article in $articleList )
                            <li style="word-wrap: break-word;"><a href="/article/$!article.getArticle_id()">$!article.getArticle_title()</a></li>
		                #end
                    </ol>
                #end
                </div>
            </div>
        </article>
#end