#parse("/velocity/layout.vm")
#@mainLayout()
    <div class="jumbotron-image">
		<!--h1 class="text-primary text-center" style="color: white">Maya's Web Site</h1>
		<hr class="small">
		<h3 class="text-center" style="color: white">Come play with me here...</h3>
		<p>
            <center>
                <a class="btn btn-lg btn-primary" href="$WebPath.getCHAT()" role="button">Let's Chat NOW &raquo;</a>
            </center>
		</p-->

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Maya's Web Site</h1>
                        <hr class="small">
                        <span class="subheading">Come play with me here...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    </div>
    <div>
		#if($articleList)
		    #foreach( $article in $articleList )
		        <div class="row post-preview">
		            <div class="col-lg-8 col-lg-offset-4 col-md-10 col-md-offset-2">
		                <div class="post-preview">
				            <a href="/article/$!article.getArticle_id()">
					            <h2 class="post-title">$!article.getArticle_title()</h2>
					            <h3 class="post-subtitle">$!article.getArticle_description()</h3>
				            </a>
	                        <p class="post-meta">$!article.getFirst_name() $!article.getLast_name() on $!article.getCreated_dttm_string()</p>
			            </div>
                    </div>
	            </div>
	            <hr>
		    #end
		#end
    </div>
#end
