#parse("/velocity/layout.vm")
#@mainLayout()
	<div id="nanogallery2" data-nanogallery2='{
	        "thumbnailL1GutterWidth": 10,
	        "touchAnimation": true,
	        "thumbnailDisplayInterval": 10,
	        "thumbnailDisplayTransition": 'fadeIn',
	        "thumbnailDisplayTransitionDuration": 10
	      }'>
	    #foreach( $file in $fileList )
	    <a href="/get_published_image/$file.getFile_id()" data-ngthumb="/get_published_thumbnail_image/$!file.getFile_id()" data-ngdesc="$file.getFile_title()">$file.getFile_title()</a>
	    #end
	</div>
#end
