/*body {
    margin: 0;
    background-image: url("../img/20170409_133250.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: compact;
}*/

.jumbotron {
	background: #F7F7F7;
}

.tab-pane {
    border: 1px solid #ddd;
    border-width: 0px 1px 1px 1px; /* Removes the top border */
    padding: 5px;
}