/*body {
    margin: 0;
    background-image: url("../img/20170409_133250.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: compact;
}*/

.jumbotron {
	background: #F7F7F7;
}