#macro(mainLayout)
<!DOCTYPE html>
<html lang="en">
    #parse("/velocity/header.vm")
    <body>
		#parse("/velocity/navbar.vm")
		<div class="container-fluid">
            $bodyContent
		</div>
		#parse("/velocity/bootstrap_core_js.vm")
		#parse("/velocity/footer.vm")
	</body>
</html>
#end
