    <div id="fileAdmin" class="tab-pane fade">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#createFile"><b>$msg.get("FILE_ADMIN_TAB_CREATE_FILE")</b></a></li>
            <li><a data-toggle="tab" href="#editFile"><b>$msg.get("FILE_ADMIN_TAB_EDIT_FILE")</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="createFile" class="tab-pane fade in active">
                <div class="panel">
                    <div class="panel-body">
                        <form id="fileForm1" action="$WebPath.getSAVE_FILE()" method="post" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label for="file_title1" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_DESCRIPTION")</label>
                                <div class="col-sm-10">
                                    <input type="text" id="file_title1" name="file_title" value="" placeholder="$msg.get("ARTICLE_LABEL_DESCRIPTION")" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="publish_file1" class="col-sm-2 form-control-label">$msg.get("ARTICLE_LABEL_PUBLISH")</label>
                                <div class="col-sm-2">
                                    <select id="publish_file1" name="publish_file" required class="form-control">
                                        #foreach( $item in $codes.getPUBLISH() )
                                            <option value="$item.getCode()">$!item.getDescription()</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="file1" class="col-sm-2 form-control-label">$msg.get("FILE_LABEL_FILE")</label>
                                <div class="col-sm-4">
						            <div class="input-group image-preview">
						                <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
						                <span class="input-group-btn">
						                    <!-- image-preview-clear button -->
						                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
						                        <span class="glyphicon glyphicon-remove"></span> Clear
						                    </button>
						                    <!-- image-preview-input -->
						                    <div class="btn btn-default image-preview-input">
						                        <span class="glyphicon glyphicon-folder-open"></span>
						                        <span class="image-preview-input-title">Browse</span>
						                        <input type="file" id="file1" name="file" accept="image/png, image/jpeg, image/gif"/>
						                    </div>
						                </span>
						            </div> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <input type="submit" value="Upload" class="btn btn-primary btn-block"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end of tab createFile -->
            <div id="editFile" class="tab-pane fade in">
                <div class="panel">
                    <div class="panel-body">
                        <table id="fileTable" class="display table table-striped table-bordered nowrap" width="100%">
                            <thead style="background: #F0FAFF;">
                                <tr>
                                     <th>File</th>
                                     <th>File ID</th>
                                     <th>User ID</th>
                                     <th>File Name</th>
                                     <th>File Type</th>
                                     <th>File Title</th>
                                     <th>Publish</th>
                                     <th>First Name</th>
                                     <th>Last Name</th>
                                     <th>Created Date</th>
                                     <th>Updated Date</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form id="fileForm2" action="$WebPath.getSAVE_FILE()" method="post" enctype="multipart/form-data">
		                            <input hidden="hidden" type="text" id="file_id2" name="file_id">
		                            <div class="form-group row">
		                                <label for="file_title2" class="col-sm-2 form-control-label">$msg.get("FILE_LABEL_TITLE")</label>
		                                <div class="col-sm-10">
		                                    <input type="text" id="file_title2" name="file_title" value="" placeholder="$msg.get("FILE_LABEL_TITLE")" required class="form-control">
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <label for="publish_file2" class="col-sm-2 form-control-label">$msg.get("FILE_LABEL_PUBLISH")</label>
		                                <div class="col-sm-2">
		                                    <select id="publish_file2" name="publish_file" required class="form-control">
		                                        #foreach( $item in $codes.getPUBLISH() )
		                                            <option value="$item.getCode()">$!item.getDescription()</option>
		                                        #end
		                                    </select>
		                                </div>
		                            </div>
		                            <div class="form-group row">
                                        <label for="file2" class="col-sm-2 form-control-label">$msg.get("FILE_LABEL_FILE")</label>
		                                <div class="col-sm-4">
		                                    <div class="input-group image-preview">
		                                        <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
		                                        <span class="input-group-btn">
		                                            <!-- image-preview-clear button -->
		                                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
		                                                <span class="glyphicon glyphicon-remove"></span> Clear
		                                            </button>
		                                            <!-- image-preview-input -->
		                                            <div class="btn btn-default image-preview-input">
		                                                <span class="glyphicon glyphicon-folder-open"></span>
		                                                <span class="image-preview-input-title">Browse</span>
		                                                <input type="file" id="file2" name="file" accept="image/png, image/jpeg, image/gif"/>
		                                            </div>
		                                        </span>
		                                    </div> 
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <div class="col-sm-3">
		                                    <input type="submit" value="$msg.get("FILE_FORM_BUTTON_SAVE")" class="btn btn-primary btn-block"/>
		                                </div>
		                            </div>
                                </form>
                            </div> <!-- end of panel-body -->
                        </div> <!-- end of panel -->
                    </div>
                </div>
            </div>
        </div> <!-- end  tab-content -->
    </div> <!-- end of tab fileAdmin -->

<script type="text/javascript" charset="utf-8">
    var fileTable;
    // Wait until browser DOM is loaded
    $(document).ready(function() {

        // show tab so a single tab will show when authorization is applied
        $('.nav-tabs a[href="#fileAdmin"]').tab('show');

        console.log("loading file table...");
        fileTable = $('#fileTable').DataTable( {
            processing : true,
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            select: true,
            stateSave: false,
            ajax: {
                url: "$WebPath.getGET_ALL_FILES()",
                dataSrc: null,
                type: "GET"
            },
            columns: [
                { data: "file",
                    render: function ( data, type, row, meta ) {
                        return "<img alt='' src='/get_published_thumbnail_image/" + row.file_id + "' width='30%' height='30%''>";
                    }
                },
                { data: "file_id" },
                { data: "user_id" },
                { data: "file_name" },
                { data: "file_type" },
                { data: "file_title" },
                { data: "publish_file" },
                { data: "first_name" },
                { data: "last_name" },
                { data: "create_dttm", 
                  render: function ( data, type, row, meta ) {
                      return getDateTime( row.create_dttm );
                    }
                },
                { data: "update_dttm",
                    render: function ( data, type, row, meta ) {
                        var dateStr = getDateTime( row.update_dttm );
                        console.log("file_id="+row.file_id + ", dateStr="+dateStr + "=" + row.update_dttm);
                        return dateStr;
                      }
                }
            ],
            columnDefs: [
                {
                   "targets": [1],
                   "visible": false,
                   "searchable": false
                },
                {
                    "targets": [2],
                    "visible": false,
                    "searchable": false
                 }
            ],
            dom: 'Bfrtip',
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
            buttons: [
                'pageLength',
                {
                    extend: 'colvis',
                    text: 'Show/Hide Columns'
                },
                {
                    extend: 'copy',
                    text: 'Copy Table'
                },
                {
                    extend: 'csvHtml5',
                    text: 'Export to CSV',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                },
                {
                    text: 'Delete File',
                    action: function ( e, dt, node, config ) {
                        //var cell = dt.cell( ".selected", 0 ).data();
                        //var cell = dt.row().data().attribute_id;
                        
                        var data = dt.row(".selected").data();

                        if(data) {
                            var url = "/delete_file/" + data.file_id;
                            $.ajax({
                                url: url,
                                type: "DELETE",
                                //contentType: 'application/json; charset=utf-8',
                                async: true,
                                processData: false,
                                cache: false,
                                success: function (data, status) {
                                    fileTable.ajax.reload();
                                    //dt.row(".selected").remove().draw();
                                    alert(data);
                                },
                                error: function (xhr, status, error) {
                                    alert("Status: " + status + " : " + error);
                                }
                            });
                        }
                    }
                }
            ]
        });

        fileTable.on( 'select', function ( e, dt, type, indexes ) {
            var data = dt.row(".selected").data();
            var fileId = data.file_id;
            var fileUrl = "/get_file_info/" + fileId;

            $.ajax({
              type: 'GET',
              url: fileUrl,
              beforeSend: function (xhr) {
                if (xhr && xhr.overrideMimeType) {
                  xhr.overrideMimeType('application/json;charset=utf-8');
                }
              },
              dataType: 'json',
              success: function (result) {                              
                //Set the JSON data to each of the fields on the interface form
                $("#file_id2").val( result.file_id );
                $("#file_title2").val( result.file_title );
                $("#publish_file2").val( result.publish_file_string );
              }
            });
        });
        
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            //alert(target);
            if (target == "#editFile") {
                //fileTable.ajax.url( "$WebPath.getGET_ALL_FILES()" ).load();
                fileTable.ajax.reload();
            }
          });
        
    });
</script>
